<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.14" targetFramework="net461" />
  <package id="SAPMiddlewareConnector" version="3.0.2.0" targetFramework="net461" />
  <package id="sapnco3.x64" version="3.0.2.0" targetFramework="net461" />
  <package id="SapNwRfc" version="1.4.0" targetFramework="net461" />
</packages>